#Strings (Concatenation, Slicing and Other methods) :

##1. String Concatenation:
Write a Python program that takes two strings i.e string 1 “Hello ”, string 2 get name as input from the user and concatenates them together. Display the concatenated string as the output.

In [ ]:
text = "hello"
name = input("Enter your Name:")
print(text +" " + name)

##Now concatenate string 3 “, welcome to Python programming” to the existing string and display the output string.

In [ ]:
message = "welcome to Python programming"
print(text +" " + name + " " + message)

hello selva mani welcome to Python programming

##2. String Slicing and Indexing:
Write a Python program using the above concatenated string as input and performs the following tasks:

- a.	Print the first character of the string.

- b.	Print the last character of the string.

- c.	Print the first 5 characters of the string.

- d.	Print the last 11 characters of the string.

- e.	Print the string in reverse.

- f.	Use slicing and print the word “Python” from the existing string.

#a. Print the first character of the string.

In [ ]:
text = "hello selva mani welcome to Python programming"

text[0]

'h'

#b. Print the last character of the string.

In [ ]:
text = "hello selva mani welcome to Python programming"

text[-1]

'g'

#c. Print the first 5 characters of the string.

In [ ]:
text = "hello selva mani welcome to Python programming"

text[:6]

'hello '

#d. Print the last 11 characters of the string.

In [ ]:
text = "hello selva mani welcome to Python programming"

text[-11:]

'programming'

#e. Print the string in reverse.

In [ ]:
text = "hello selva mani welcome to Python programming"

text[::-1]

'gnimmargorp nohtyP ot emoclew inam avles olleh'

#f. Use slicing and print the word “Python” from the existing string.

In [ ]:
text = "hello selva mani welcome to Python programming"

text[-18:-12]

'Python'

#3. String Methods:
Write a Python program that takes a string, strM = “Python beginner tutorial” and perform the following tasks:

- a.	Convert the sentence to uppercase.

- b.	Convert the sentence to lowercase.

- c.	Use Capitalize and return the sentence to the original input form.

- d.	Count the total number of occurrences of character ‘t’  in the string.

- e.	Replace all occurrences of “Python” with “Machine Learning”  in the input string strM = “Python beginner tutorial”

#a. Convert the sentence to uppercase.

In [ ]:
 strM = "Python beginner tutorial"

 strM.upper()

'PYTHON BEGINNER TUTORIAL'

#b. Convert the sentence to lowercase.

In [ ]:
 strM = "Python beginner tutorial"

 strM.lower()

'python beginner tutorial'

#c. Use Capitalize and return the sentence to the original input form.

In [ ]:
 strM = "Python beginner tutorial"

 strM.capitalize()

'Python beginner tutorial'

#d. Count the total number of occurrences of character ‘t’ in the string

In [ ]:
 strM = "Python beginner tutorial"

 strM.count("t")

3

#e. Replace all occurrences of “Python” with “Machine Learning” in the input string strM = “Python beginner tutorial”

In [ ]:
 strM = "Python beginner tutorial"

 strM.replace("Python","Machine Learning" )

'Machine Learning beginner tutorial'

#Tuples (Creation, Modification and Access) :

Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):

- a. Concatenate the two tuples and store it in “t_combine”

- b. Repeat the elements of “t_combine” 3 times

- c. Access the 3rd element from “t_combine”

- d. Access the first three elements from “t_combine”

- e. Access the last three elements from “t_combine”

#a. Concatenate the two tuples and store it in “t_combine”

In [ ]:
tuple1 = (10, 20, 30)
tuple2 = (40, 50, 60)
t_combine = tuple1 + tuple2
print(t_combine)

(10, 20, 30, 40, 50, 60)

#b. Repeat the elements of “t_combine” 3 times

In [ ]:
t_combine*3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

#c. Access the 3rd element from “t_combine”

In [ ]:
t_combine[2]

30

#d. Access the first three elements from “t_combine”

In [ ]:
t_combine[0:3]

(10, 20, 30)

#e. Access the last three elements from “t_combine”

In [ ]:
t_combine[3:]

(40, 50, 60)