#List (Creation, Modification and Access):

###1. List Creation:

a.	Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

b.	Create a list named name_list with five string elements.

In [ ]:
age_list =[24,25,26,27,28]
name_list =['selva','rahul','vimal','logi','prakash']

##2. List Operations / Modifications:
a.	Append the string "Yazhini" to name_list.

In [ ]:
name_list.append("Yazhini" )
name_list

['selva', 'rahul', 'vimal', 'logi', 'prakash', 'Yazhini', 'Yazhini']

b.	Insert the element 30 at index 2 in age_list

In [ ]:
age_list.insert(2,30)
age_list

[24, 25, 30, 30, 27, 28]

c.	Remove the string "Yazhini" from name_list.

In [ ]:
name_list.remove('Yazhini' )
name_list

['selva', 'rahul', 'vimal', 'logi', 'prakash']

d.	Pop the last element from age_list.

In [ ]:
age_list.pop(-1)
age_list

[24, 25, 30, 30, 27]

e.	Extend the age_list with additional ages [29, 30, 26].

In [ ]:
age = [29,30,26]
age_list.extend(age)
age_list

[24, 25, 30, 30, 27, 29, 30, 26]

f.	Sort age_list in descending order

In [ ]:

age_list.sort(reverse=True)
age_list

[30, 30, 30, 29, 27, 26, 25, 24]

g.	Find Max age, Min age and sum of all ages from age_list.

In [ ]:
max(age_list)

30

In [ ]:
min(age_list)

24

In [ ]:
sum(age_list)

221

h.	Make a copy of age_list and store as age_list_copy

In [ ]:
age_list_copy = age_list.copy()
age_list_copy

[30, 30, 30, 29, 27, 26, 25, 24]

i.	Clear all elements from age_list_copy.

In [ ]:
del age_list_copy

In [ ]:
age_list

[30, 30, 30, 29, 27, 26, 25, 24]


###3. Accessing List Elements:

a.	Print the first element of name_list.

In [ ]:
name_list =['selva','rahul','vimal','logi','prakash']
name_list[0]

'selva'

b.	Print the last element of name_list.

In [ ]:
name_list =['selva','rahul','vimal','logi','prakash']
name_list[-1]

'prakash'

c.	Print the elements from index 2 to index 4 in name_list.

In [ ]:
name_list =['selva','rahul','vimal','logi','prakash']
name_list[2:]

['vimal', 'logi', 'prakash']

d.	Print the elements of name_list in reverse order.

In [ ]:
name_list =['selva','rahul','vimal','logi','prakash']
name_list[::-1]

['prakash', 'logi', 'vimal', 'rahul', 'selva']

e.	Create a list called list_dup = [1, 2, 1, 1, 3, 1, 2, 5, 9, 1] and print the number of times element ‘1’ has occurred.

In [ ]:
list_dup = [1, 2, 1, 1, 3, 1, 2, 5, 9, 1]
count = list_dup.count(1)
count

5

f.	Print length of list_dup.

In [ ]:
len(list_dup)

10

##Dictionary (Creation, Modification and Access):

1. Dictionary Creation:

a.	Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100).

In [ ]:
student_marks = {'prakash':35,'logi':50,'vimal':60,'rahul':75,'selva':90}

b.	Access and print the mark of a specific student, of your choice

In [ ]:
student_marks['selva']

90

2. Dictionary Modifications & Access:

a.	Add a new student "Janani" with a mark of 80 to the student_marks dictionary

In [ ]:
new_student = {'Janani':80}
student_marks.update(new_student)
student_marks

{'prakash': 35,
 'logi': 50,
 'vimal': 60,
 'rahul': 75,
 'selva': 90,
 'Janani': 80}

b.	Update the mark of any one older student to 82.

In [ ]:
student_marks['rahul']= 82
student_marks

{'prakash': 35,
 'logi': 50,
 'vimal': 60,
 'rahul': 82,
 'selva': 90,
 'Janani': 80}

c.	Use the keys(), values(), and items() methods to print all keys, values, and key-value pairs in the student_marks dictionary.

In [ ]:
student_marks.keys()

dict_keys(['prakash', 'logi', 'vimal', 'rahul', 'selva', 'Janani'])

In [ ]:
student_marks.values()

dict_values([35, 50, 60, 82, 90, 80])

In [ ]:
student_marks.items()

dict_items([('prakash', 35), ('logi', 50), ('vimal', 60), ('rahul', 82), ('selva', 90), ('Janani', 80)])

##Sets & Frozensets:

1. Sets:

a.	Create a set called my_set with following values:   
	['a','e','i','o','u','a','a','i']
Analyse the output and provide explanation for the same.

In [ ]:
my_set = {'a','e','i','o','u','a','a','i'}
#['a','e','i','o','u','a','a','i'] this type was not set only use {} and set was unorder and do not allow duplicate element
my_set

{'a', 'e', 'i', 'o', 'u'}

b.Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation

In [ ]:
#my_set[4]='s'
#TypeError: 'set' object does not support item assignment
#how to change

In [ ]:
my_set.remove('o')
my_set
my_set.add('s')
my_set

{'a', 'e', 'i', 's', 'u'}

c.	Create two sets:
	set1 with values: {1, 3, 5, 7, 9}
	set2 with values: {2, 3, 5, 8, 10}

In [ ]:
set1 = {1, 3, 5, 7, 9}
set2 = {2, 3, 5, 8, 10}

d.	Compute the union of set1 and set2, and print the result.

In [ ]:
union = set1 | set2
union

{1, 2, 3, 5, 7, 8, 9, 10}

e.	Perform an intersection operation between set1 and set2, and print the result.

In [ ]:
intersection = set1 & set2
intersection

{3, 5}

##2. Frozensets:

a.	Create a frozenset named immutable_set containing the integers: 1, 2, 3, 4, 5. Print the frozenset.

In [ ]:
immutable_set = frozenset( [1, 2, 3, 4, 5])
immutable_set
type(immutable_set)

frozenset

b.	Try to add an element (e.g., 6) to the immutable_set frozenset. Observe and describe any exceptions that occur.

In [ ]:
immutable_set.add(6)
#AttributeError: 'frozenset' object has no attribute 'add'

AttributeError: 'frozenset' object has no attribute 'add'