###File Handling:  

Problem Statement: Create a Python program that performs the following tasks:
1.	Reads data from a text file.
2.	Processes the data.
3.	Writes the processed data to a new text file.

1)	Write:
➢	Prompt the user to enter their name, age, and favorite color. Save this information to a text file named user_info.txt.

In [ ]:
file_path ="/tmp/user_info.txt"
mode = 'w'
with open(file_path,mode) as f1:
  input_content = "name:selva mani\n age:25\n colour: blue\n"
  f1.write(input_content)

2)	Read:
➢	Read the content of user_info.txt and display it on the console.

In [ ]:
file_path ="/tmp/user_info.txt"
mode = 'r'
f1 = open(file_path,mode)

In [ ]:
content = f1.read()
print(content)

name:selva mani
 age:25
 colour: blue

3)	Append:
➢	Prompt the user to enter their favorite movie and append this new piece of information to the file user_info.txt.

In [ ]:
file_path ="/tmp/user_info.txt"
mode = 'a'
with open(file_path,mode) as f1:
  input_content = "favorite_movie : 3 "
  f1.write(input_content)

In [ ]:
file_path ="/tmp/user_info.txt"
mode = 'r'
f1 = open(file_path,mode)

In [ ]:
content = f1.read()
print(content)

name:selva mani
 age:25
 colour: blue
favorite_movie : 3

4)	Readlines:
➢	Read all the lines from user_info.txt and display each line on the console, one by one

In [ ]:
file_path ="/tmp/user_info.txt"
mode = 'r'
f1 = open(file_path,mode)

In [ ]:
content = f1.readlines()
print(content)

['name:selva mani\n', ' age:25\n', ' colour: blue\n', 'favorite_movie : 3 ']

###Exception Handling:  
Problem Statement: Create a Python program that converts a temperature from Celsius to Fahrenheit by performing the following tasks:

Step wise Instructions:

1) Prompting for User Input:

2) Converting Celsius to Fahrenheit:

In [ ]:
celsius = float(input("enter a temperature in Celsius:"))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}°C is equal to {fahrenheit}°F")

enter a temperature in Celsius:45.3
45.3°C is equal to 113.53999999999999°F

3) Handling Exceptions:

In [ ]:
6.7celsius =input("enter a temperature in Celsius:")
try:
  celsius = float(celsius)
  fahrenheit = (celsius * 9/5) + 32
except ZeroDivisionError:
  print("division by zero is not allowed.")
except TypeError:
  print("arithmetic operations cannot be performed on incompatible types.")
except ValueError:
  print("the input should be a numeric value.")
except Exception as e:
  print(f"unexpected error occurred.",{e})
else:
  print(f"Fahrenheit temperature: {fahrenheit}°F")
finally:
  print("the end of the program")

SyntaxError: invalid decimal literal (<ipython-input-1-8a950df52bb2>, line 1)